// Global Config
// ==========================================================================
// Font Stacks
// ==========================================================================
// $font-url--google: "../../fonts/TheMixArabic-ExtraBold.woff2";
$font-family: "TheMixArabic", sans-serif;
$font-family-en: "open-sans", sans-serif;

// ==========================================================================
// Descriptive Base Colors
// ==========================================================================

// lighten btn percentage
// $btnHoverLighten:10%;

$brand_1: #4abdff;
$brand_2: #5eb3e4;
$brand_3: #3694d7;
$brand_4: #0a61ba;
$brand_5: #003b71;
$brand_6: #192637;
$brand_7: #0085ff;
$brand_8: #0189d2;
$brand_9: #f7f2ee;
$dark_blue: #0a406b;
$grey_light: #d1d2d2;
$black: #000000;
$white: #ffffff;
$danger: #ff2727;
$disabled: rgba(255, 255, 255, 0.16);
$text_grey: rgba(255, 255, 255, 0.56);
$text_grey_2: rgba(255, 255, 255, 0.7);
$grey_t1: #8d95a0;
$text_dark: #191c20;
$text_grey_3: #677280;
$text_grey_4: #f1f5f9;
$text_dark_grey: #4a4a4a;
$light_blue: #477090;
$alice_blue: #f8fbfc;
$regent_st_blue: #92bdd4;
$regal_blue: #6e8495;
$yellow: #dda11d;
$graya8: #a8a8a8;
$badge_green: #34a853;
$badge_blue: #4285f4;
$faint_blue: #4abdff33;

// lighten($taxiColor, $btnHoverLighten);

// ==========================================================================
// responsive classes
// ==========================================================================
$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$general-breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
);

// ==========================================================================
// Color Palette Modifiers s
// ==========================================================================
// $color-palettes: (
// 	grey: (
// 		xx-light: lighten($grey, 43%),
// 		x-light: lighten($grey, 35%),
// 		light: lighten($grey, 12%),
// 		base: $grey,
// 		dark: darken($grey, 8%),
// 		x-dark: darken($grey, 16%),
// 	),
// 	black: (
// 		light: lighten($black, 10%),
// 		base: $black,
// 		dark: darken($black, 10%),
// 	),
// );
// ==========================================================================
// UI Colors
// ==========================================================================

$ui-colors: (
  brand_1: $brand_1,
  brand_2: $brand_2,
  brand_3: $brand_3,
  brand_4: $brand_4,
  brand_5: $brand_5,
  brand_6: $brand_6,
  custom_black: $black,
  light: $white,
  error: $danger,
  disabled: $disabled,
  text_grey: $text_grey,
  text_danger: $text_grey,
  grey_2: $text_grey_2,
  grey_3: $text_grey_3,
  grey_t1: $grey_t1,
  text_dark: $text_dark,
  dark_grey: $text_dark_grey,
  dark_blue: $dark_blue,
  grey_light: $grey_light,
  grey_4: $text_grey_4,
  light_blue: $light_blue,
  alice_blue: $alice_blue,
  regent_st_blue: $regent_st_blue,
  regal_blue: $regal_blue,
  yellow: $yellow,
  graya8: $graya8,
  badge_green: $badge_green,
  badge_blue: $badge_blue,
  faint_blue: $faint_blue,
);

// ==========================================================================
// UI Fonts
// ==========================================================================
$ui-fonts: (
  101: 101,
  82: 82,
  77: 77,
  53: 53,
  48: 48,
  38: 38,
  37: 37,
  33: 33,
  31: 31,
  30: 30,
  29: 29,
  28: 28,
  24: 24,
  22: 22,
  21: 21,
  20: 20,
  18: 18,
  17: 17,
  16: 16,
  14: 14,
  12: 12,
  11: 11,
  10: 10,
);

// default font size
$base__font-size: 16px;
$base__line: 24px;

$ui-fonts-weights: (
  800: 800,
  700: 700,
  600: 600,
  500: 500,
  bolded: 500,
  400: 400,
  plain: 300,
  300: 300,
  200: 200,
);

// Plain
// Extrabold:700
// Semibold:600
// Bold:500
//  Regular:400
//  light:300
//  Semilight:200

$ui-line-heights: (
  90: 90,
  49: 49,
  43: 43,
  40: 40,
  37: 37,
  31: 31,
  28: 28,
  20: 20,
);

// ==========================================================================
// Letter Spacing
// ==========================================================================
$letter-space-primary: 0em;
$letter_spacing: (
  0: 0,
  1: 0.5,
  2: 1,
  3: 1.5,
  4: 2,
);
// ==========================================================================
// Border radius
// ==========================================================================
$br--default: 9px;
// $br--round: 50%;

// ==========================================================================
// Transitions
// ==========================================================================
$trns_duration: 0.3s;
$trns_timing: ease-in-out;

// ==========================================================================
// Path to Assets
// ==========================================================================
// $path--rel: "../img";

// ==========================================================================
// Grid
// ==========================================================================
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;

// ==========================================================================
// Z-index
// ==========================================================================
$z-indexes: (
  9: 9,
  99: 99,
  999: 999,
  1000: 1000,
  9999: 9999,
  99999: 99999,
  999999: 999999,
  9999999: 9999999,
);

// ==========================================================================
// Spacer
// ==========================================================================
$spacer-variations: (
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  38: 38,
  40: 40,
  50: 50,
  60: 60,
  75: 75,
  80: 80,
  100: 100,
);

// ==========================================================================
// Borders
// ==========================================================================
$borders_variations: (
  dark: $black,
  light: $white,
);

// ==========================================================================
// Containers
// ==========================================================================
$containers: (
  840: 840,
);

// ==========================================================================
// Flex Gab
// ==========================================================================
$gaps: (
  1: 5,
  2: 10,
  3: 15,
  4: 20,
  5: 30,
  6: 40,
  7: 50,
  8: 60,
  9: 70,
  10: 80,
);

// ==========================================================================
// column Counts
// ==========================================================================
$column_counts: (
  2: 2,
  3: 3,
  4: 4,
);

// ==========================================================================
// column Counts
// ==========================================================================
$rotations: (
  90: 90,
  180: 180,
  270: 270,
  360: 360,
);
