body {
	background-color: #F6F4F5;
	padding-top: 100px;
}

* {
	font-family: 'Nunito Sans', sans-serif;
}

.app {
	&__logo {
		min-width: 108px;
	}

	&__icon {
		width: 24px;
		height: auto;

		&__small {
			width: 18px;
			height: auto;
			margin: 0 0.5px;
		}
	}
}